.main{
    width: 100%;
    height: 726px;
    background-image: url("../images/bg1.png");
    background-position: top !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
}

.main .sec-1{
    align-items: center;
    position: absolute;
    width: 100%;
}

.divider{
    height: 250px;
    background-color: #072A40;
    width: 6px;
    margin: 0px 21px;
}

.main .sec-1 .box1{
    text-align: end;
    font-size: 22px;
    font-weight: 500;
}

.main .sec-1 .box1 p{
    color: #000000;
    font-size: 28px;
}

.main .sec-1 .box1 .lg{
    color: #178CA4;
}

.main .sec-1 .box1 .rg{
    color: #18B7BE;
}

.main .sec-1 .box1 .lgbtn{
    width: 270px;
    font-size: 18px;
    padding: 7px 0px;
    border: none;
    border-radius: 12px;
    color: white;
    font-weight: 600;
    background-color: #2190A6;
    margin-top: 32px;
    transition: .4s all;
}

.main .sec-1 .box1 .lgbtn:hover{
    background-color: #072A40;
}

.main .sec-1 .box1 .rgbtn{
    width: 270px;
    font-size: 18px;
    padding: 7px 0px;
    border: none;
    border-radius: 12px;
    color: white;
    font-weight: 600;
    background-color: #072A40;
    margin-top: 12px;
    transition: .4s all;
}

.main .sec-1 .box1 .rgbtn:hover{
    background-color: #2190A6;
}

.main .sec-1 .box2 h1{
    font-size: 45px;
    line-height: 49px;
    color: #072A40;
    font-weight: 900;
}

.main .sec-1 .box2 p{
    font-size: 15px;
    width: 264px;
    padding-top: 13px;
}

.main .sec-1 .box2 .mng{
    color: #178CA4;
}

.main .sec-1 .box2 .sys{
    color: #18B7BE;
}


.blog{
    width: 100%;
    height: 1010px;
    background-image: url("../images/bg2.png");
    background-position: top !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.blog .h2{
    text-align: center;
    font-size: 36px;
    margin-bottom: 28px;
}

.blog .boxes{
    display: grid ;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding: 0px 280px;
    @media screen and (max-width:1024px) {
        grid-template-columns: 1fr;
    }
}

.blog .boxes .box{
    border-radius: 18px;
    background-color: white !important;
    box-shadow: 0px 0px 11px -2px lightgrey;
    transition: 0.4s all;
}

.blog .boxes .box:hover{
    box-shadow: 0px 0px 12px 5px lightgrey;
}

.blog .boxes .box .clearfix{
    align-items: center;
    margin-bottom: 16px;
    padding: 22px 22px 0px
}

.blog .boxes .box .icon{
    border: 3px solid #577883;
    border-radius: 13px;
    padding: 8px;
    font-size: 0px;
    font-weight: 900;
    color: #577883;
}

.blog .boxes .box .title{
    font-size: 18px;
    font-weight: 600;
    padding-left: 10px;
    color: #577883;
}

hr{
    background-color: red;
}

.blog .boxes .box .desc{
    font-size: 14px;
    margin-top: 16px;
    padding: 0px 22px 22px;
}

.blog .contact{
    margin: 140px auto 0px;
    justify-content: center;
    display: grid;
    text-align: center;
    background: aqua;
    width: 350px;
    padding: 15px 0px;
    background-color: #F9F7F0;
}

.blog .contact .h3{
    font-size: 25px;
    padding-bottom: 7px;
    color: #113247;
}

.blog .contact .p1, .blog .contact .p2, .blog .contact .p3{
    padding-bottom: 7px;
    color: #2190A6;
}
